

*{ /*Afecta a todo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*para quitar las lineas de los links*/
    list-style: none; /*para quitar los puntos de la lista*/
}

.menu {
    max-width: 1000px;
    margin:0 auto;
}

.encabezado{
    padding: 30px 0;
    background-color: #031859;
}

.menu{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    font-family: Moderno;
    font-size:30px;
    color: #fbff10; /*color logo*/
    font-weight: 1000;
    
}

.menu .nav_barra ul li {
    position: relative;
    float: left;
}

.menu .nav_barra ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu .nav_barra ul li a:hover { /*cuadno pasas el raton por encima*/
    color:#fbff10;
}

#menu{ /*para quitar la caja del checkbox*/
    display: none;
}

.icono_menu{
    width: 40px;
}

.menu label{
    cursor: pointer;
    display: none;
}



@media (max-width:991px){ /*versión movil*/
    /*cuando la resolucion baje a 991 px se cambie*/


    .logo{
       font-size: 40px;
    }

    .menu{
        padding: 30px;
    }

    .menu label {
        display:initial;
    }

    .encabezado{
        padding: 50px 0;
    }

    .menu .nav_barra{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #405080;
        display: none;
        
    }
    li a:hover {
        background-color: #04268C;
        
      }
    

    .menu .nav_barra ul li{
        width: 100%; /*para forma de columan*/
        text-align: center;
    }

    #menu:checked ~ .nav_barra{
        display: initial;
    }

    

}