

    #contenedor_button{
        display: flex;
        padding: 10px;
        }

        .button:hover{ /*hover de los botones*/
            background-color: #868686;
        }

        #button_Monologo{ /*boton de concierto*/
            width: 150px;
            text-align: center;
            }
            
            #button_ReservaYa{
                width: 200px;
                text-align: center;
            
             /*boton de reserva*/
            }

            #contenedor_texto{ /* contenedor del texto de la funcion*/
                padding: 20px;
                background-color: #ccccccff;
                width: 100%;
                display: block;
                line-height: 1.8;
                }

