/*INDEX CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}


@media only screen and (max-width: 1024px) { /* para tablet */
    [class*="col-"] {
      width: 100%;
    }

    #contenedor_concierto_texto > p{ /* cambiar tamaño de la fuente*/
      font-size: 3vw !important;
      }
      #contenedor_titulo > h1{
        font-size: 7vw !important;
      } 

  
  }
  
  @media only screen and (max-width: 430px) { /* para telefono */
    [class*="col-"] {
      width: 100%;
    }

    #button_concierto, #button_reserva{
      padding: 5px !important;

    }

    #titulo_aboutUs{
  font-family: Moderno;
  font-size: 7vw;
  }

    #contenedor_titulo > h1{
      font-family: Moderno;
      font-size: 7vw !important;
    } 
    
    #contenedor_form > h1{
      font-size: 30px;
    } 

    #contenedor_button_reservas{
      left: 0;
    } 
    
    #button_reserva{
      width: 300px;
    }

    #contenedor_concierto_texto > p{ /* cambiar tamaño de la fuente*/
    font-size: 4vw;
    }
    
    #contenedor_concierto_texto{ /* contenedor del texto de la funcion*/
    display: block;
    }
    
  }
  

[class*="col-"] {
  float: left;
  padding: 15px;
}

h1{
  font-family: Moderno;
}

#titulo_aboutUs{
  font-family: Moderno;
  font-size: 5vw;
}
p {
  margin: 20px;
}

#contenedor_titulo {
  /* titulo */
  text-align: center;
  color: black;
  font-size: 30px;
  padding-bottom: 20px;
  margin: 20px;
  border-bottom: 2px solid black;
}

body{ /*fondo*/
    background-color: #ccccccff;
  
}
li{ /*listas*/
    list-style: none;
}

a {
  /*enlaces*/
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.imagen_evento{ /* imagenes de eventos y mas eventos*/
  width: 100%;
  object-fit: cover;
  height: 90vh;
  vertical-align: middle;
}




.button{ /*botones en general*/
background-color: #5a5a5a;
padding: 20px;
border: 2px solid grey;
}


#contenedor_button_concierto{
  height: 50px;
position: absolute;
padding: 20px;
  }
  

.button:hover {
  /*hover de los botones*/
  background-color: #868686;
}

#contenedor_concierto_texto{ /* contenedor del texto de la funcion*/
  position: absolute;
  height: auto;
  font-size: 1vw;
  left: 20px;
  margin-top: 35px;
}

#contenedor_buttons_texto{
  padding: 30px;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  line-height: 1.8;
  width: 100%;
  color: rgb(255, 250, 223);
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#contenedor_button_reservas{
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 50px;
  padding: 20px;
}



#button_concierto{
  /*BOTON DE CATEGORIA*/
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 40px;
  background-color: none !important;
}

#button_reserva{
    position: absolute;
    width: 200px;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    right: 0;
    bottom: 0;
    margin: 20px;
 /*boton de reserva*/
}



/*          contactanos          */

#aboutUs{  /*texto de contactanos*/
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 70px;
  font-size: 30px;
  float: left;
  width: 100%;
  margin: 0;
}

#content_main {
  /*contenedor main de form*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  float: left;
  width: 100%;
}

#contenedor_form, #reserva_form{/*contenedor de formularios de opinion y reserva*/
  width: 100%;
  max-width: 700px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);   
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
}

.titulo_form {
  /*texto de formulario*/
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  border-bottom: 2px solid black;
}

textarea

/*textarea responsive*/
  {
  width: 100%;
  padding: 8px 18px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-radius: 5px;
  max-width: 100%;
}

form label {
  /* textos blancos*/
  color: white;
}

/*caja de los datos de usuario*/

input[type=text] {
  border-radius: 5px;
  border-color: white;
  height: 25px;
  outline: none;
  width: 100%;
}

  /*boton de envio*/
  .submit_button input{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  /*hover del submit*/
  .submit_button input:hover{
    background-image: linear-gradient(to right top, #d36da7, #ca79bb, #be78d1, #a486d9, #7878e0, #799bec, #69aaf4, #56b6f7, #3cc9fc, #41dfff, #00eeff, #2cfcee);
  }

/*      contactanos          */




/*------------------------------CREAR EVENTO---------------------------*/
/*imagen fondo */
.primeraParte {
  background-image: url(../Images/gente.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;  /*altura imagen*/
  
}


/*mensaje crear evento*/
#mensaje {
  position: absolute;
  right: 0;
  bottom: 65%;
  background-color: #5a5a5a;
  opacity: 70%;
}





/*Titulo:completa tu reserva*/
#completaR {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  padding-top: 40px;

}

.eventoEs {
  margin-bottom: 20px;
}

#texto_seleccionaDia {
  color: black;
  font-size: 25px;
}


/*-------------------BOTONES-TECLEADO-OTRO COLOR*-----------------------*/

.contenedor .boton { 
  background-color: pink;
  border-radius: 10px; /*borde redondeado*/
  border: 2px solid purple;
  color: purple;
  padding: 1em 1em; /*  1em = al tamaño fuente actual(relleno se ajusta al tamaño) */
  font-size: 14px;
}


.boton:hover { /*sobre el elemento cambia de color*/
  background-color: purple;
  color: pink;
}

/* Cambia el color cuando el botón esta marcado */
input[type="radio"]:checked+.boton {
  background-color: rgb(255, 81, 238);
  color: blue;
  border-inline: rgb(255, 81, 238);
}

.oculto { /*ocultar el radio*/
  display: none;
}

/* -----tabla----*/
table {
  width: 60%;
  margin: 10px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  border: 2px solid black;
}

table th{
  background-color: pink ;
  color:purple;
}

td[colspan], [rowspan] {
  background-color: pink ;
  color:purple;
}

td {
    text-align: center;
}



.terceraParte {
  display: flex;
  flex-wrap: wrap;
}

.calendario {
  text-align: left;
  margin-left: 15%;
}

.calendario img {
  width: 100%;

}


.parteIzquierda,
.parteDerecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.datos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  
}

.datos input {
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 18px;
  margin-bottom: 30px;
 
 
}


#boton_reserva {
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  padding: 10px;

}





/* responsive movil y tablet */
@media only screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
    box-sizing: border-box;
  }

  .calendario {
    margin-left: 10px;
    width: 100%;
  }

  .contenedor {
    text-align: center;
  }

  .boton {
    width: 80%;
    display: inline-block;
    margin: 10px;
  }

  .texto_seleccionaDia {
    margin-bottom: 0; 
  }


  .segundaParte {
    margin-left: -20px;
  }

  table {
    margin-top: 20px;
  }

  th,td {
    padding: 10px;
    font-size: 14px;
  }

  .parteDerecha .contenedor {
    margin-top: 10px;
  }
  #mensaje {
    bottom:auto;
    top: 32%;
    width: 100%;
    text-align: right;
   
   }

  }

  
  @media only screen and (min-width: 300px) and (max-width: 1100px) {
    #mensaje {
      width: 100%;
      right: 0;
      text-align: right;
      top:655px;
    }
  }
  










/* ---------------------RESERVAR---------------------------------*/

#content_main{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#checkbox { /*CUANDO LA CASILLA NO ESTÁ SELECCIONADA*/
  appearance: none; /*Hay que quitar el predeterminado porque si no, no se puede modificar*/
  cursor: pointer;
  background-color: #4820b6;
  width: 25px;
  height: 25px;
  border: 3px solid #160e90;
  border-radius: 100%;
}

.box9 > label{
  color: red;
}

.box10 > label{
  color: red;
}



#checkbox:checked { /*CUANDO LA CASILLA ESTÁ SELECCIONADA*/
  background-color: rgb(236 72 153);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e"); /*imagen de tic*/
}

#reserva_form {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

 .box11 img{
  width: 50px;
  filter: saturate(100);

}

.box11{
 display: grid;
  grid-template-columns: auto auto auto;
  background-color: #cfc0d5;
  border-radius: 2%;
}


@media only screen and (min-width: 768px) { /*para monitores*/



.box1 , .box3{ /*grid de los que ocupan la mitad izquierda*/

  grid-column-start: 1;
  grid-column-end: 2;

}
.box2 , .box4{/*grid de los que ocupan la mitad derecha*/
  grid-column-start: 4;
  grid-column-end: 5;
}

.box5 , .box6 { /*grid de los que ocupan toda una fila*/
  grid-column-start: 1;
  grid-column-end: 5;
}
.box7{
  grid-column-start: 1;
  grid-column-end: 4;
}
.box8{
  grid-column-start: 4;
  grid-column-end: 5;
}

.box9{
  grid-column-start: 1;
  grid-column-end: 5;
}
.box10{
  grid-column-start: 1;
  grid-column-end: 5;
}
 
.box11{
  
  grid-column-start: 1;
  grid-column-end: 5;

}


#box11_1{
  margin-top: 4px;
  margin-left: 30px;

}

#box11_2{
  margin-left:-190px;
  color: rgb(21, 21, 139);
  
}

#box11_3{
  margin-top: 10px;
  margin-right: -60px;
}

}


@media only screen and (max-width: 768px) {/*para moviles*/

  #contenedor_form, #reserva_form {
    margin: 0 auto;
  }

  .box1 , .box3{ /*grid de los que ocupan la mitad izquierda*/
  
    grid-column-start: 1;
    grid-column-end: 2;
  
  }
  .box2 , .box4{/*grid de los que ocupan la mitad derecha*/
    grid-column-start: 4;
    grid-column-end: 5;
  }
  
  .box5 , .box6 { /*grid de los que ocupan toda una fila*/
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .box7{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .box8{
    grid-column-start: 4;
    grid-column-end: 5;
  }
  
  .box9{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .box10{
    grid-column-start: 1;
    grid-column-end: 5;
  }
   
  .box11{
    
    grid-column-start: 1;
    grid-column-end: 5;
  
  }
  
  
  #box11_1{
    margin-top: 4px;
    margin-left: 30px;
  
  }
  
  #box11_2{
    margin-left:-100px;
    color: rgb(21, 21, 139);
    
  }
  
  #box11_3{
    margin-top: 10px;
    margin-right:0;
  }


  }