/*INDEX CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 1024px) { /* para tablet */
    [class*="col-"] {
      width: 100%;
    }

    #contenedor_concierto_texto > p{ /* cambiar tamaño de la fuente*/
      font-size: 3vw;
      }

  
  }
  
  @media only screen and (max-width: 430px) { /* para telefono */
    [class*="col-"] {
      width: 100%;
    }

    #contenedor_titulo > h1{
      font-size: 30px;
    } 
    
    #contenedor_form > h1{
      font-size: 30px;
    } 

    #contenedor_button_reservas{
      left: 0;
    } 
    
    #button_reserva{
      width: 300px;
    }

    #contenedor_concierto_texto > p{ /* cambiar tamaño de la fuente*/
    font-size: 4vw;
    }
    
    #contenedor_concierto_texto{ /* contenedor del texto de la funcion*/
    display: block;
    }
    
  }
  

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

p{
    margin: 20px;
}

#contenedor_titulo{ /* titulo */
    text-align: center;
    color: black;
    font-size: 30px;
    padding-bottom: 20px;
    margin: 20px;
    border-bottom: 2px solid black;
}

body{ /*fondo*/
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  
}
li{ /*listas*/
    list-style: none;
}

a{ /*enlaces*/
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.imagen_evento{
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  height: 90vh;
}



.button{ /*botones en general*/
background-color: #5a5a5a;
}


#contenedor_button_concierto{
height: 50px;
position: absolute;
padding: 20px;
}

.button:hover{ /*hover de los botones*/
    background-color: #868686;
}

#contenedor_concierto_texto{ /* contenedor del texto de la funcion*/
  position: absolute;
  height: auto;
  font-size: 1vw;
  left: 20px;
  margin-top: 35px;
}

#contenedor_buttons_texto{
  padding: 30px;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  line-height: 1.8;
  width: 100%;
  color: rgb(255, 250, 223);
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#contenedor_button_reservas{
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 50px;
  padding: 20px;
}



#button_concierto{
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 40px;
}

#button_reserva{
    width: 200px;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    right: 0;
    bottom: 0;
    margin: 20px;
 /*boton de reserva*/
}



/*          contactanos          */

#aboutUs{  /*texto de contactanos*/
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 70px;
    font-size: 30px;
    float: left;
    width: 100%;
    margin: 0;
}

#content_main{ /*contenedor main de form*/
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: black;
    float: left;
    width: 100%;
}

#contenedor_form{/*contenedor de form*/
    width: 100%;
    max-width: 700px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);   
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
}

.titulo_form{ /*texto de formulario*/
   font-size: 50px;
   font-weight: 600;
   text-align: center;
   padding-bottom: 6px;
   color: white;
   border-bottom: 2px solid black;
}

textarea /*textarea responsive*/
{
  width: 100%;
  padding: 8px 18px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px; 
  border-radius: 5px;
  max-width: 100%;
}

form label{ /* textos blancos*/
    color: white;
}

/*caja de los datos de usuario*/

input[type=text]{
    border-radius: 5px;
    border-color: white;
    height: 25px;
    outline: none;
    width: 100%;
} 

  /*boton de envio*/
  .submit_button input{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  /*hover del submit*/
  .submit_button input:hover{
    background-image: linear-gradient(to right top, #d36da7, #ca79bb, #be78d1, #a486d9, #7878e0, #799bec, #69aaf4, #56b6f7, #3cc9fc, #41dfff, #00eeff, #2cfcee);
  }

/*      contactanos          */


/* INDEX CSS*/


/* MAS EVENTOS CSS*/



/* MAS EVENTOS CSS*/


/*imagen+ responsive*/
.primeraParte {
    background-image: url(../imagen-evento/gente_bailando.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}



/*mensaje crear evento*/
#mensaje {
  position: absolute;
  right: 0px;
  bottom: 10px;
  opacity: 60%;

}



/*Titulo:completa tu reserva*/
#completaR{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  padding-top: 40px;
 
  
}

/*-------------------BOTONES-TECLEADO-OTRO COLOR*-----------------------*/

.contenedor .boton {
  background-color: pink;
  border-radius: 10px;
  border: 2px solid purple;
  color: purple;
  padding: 0.5em 1em; 
  cursor: pointer;
  font-size: 14px;
}


.boton:hover{
  background-color:purple;
  color:pink;
}

/* Cambia el color cuando el botón esta marcado */
input[type="radio"]:checked + .boton {
  background-color:rgb(255, 81, 238);
  color: blue;
  border-inline: rgb(255, 81, 238);
}

.oculto {
  display: none;
}


/*para pantallas pequeñas*/
@media (min-width: 320px) {
  .contenedor {
      margin: 0 20px; 
      display: flex;    
  }
}


/*para pantallas grandes
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}*/


table {
  width: 80%; 
  margin: 0 auto; 
  border: 1px solid black;
  text-align: center;
}

th, td {
  border: 1px solid black;
  text-align: center;
}


/*calendario*/
.calendario{
  width: 70%;
}






