
html, body{
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom left, rgb(5, 9, 77), rgb(255, 81, 238));
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2; /* Asegura que la lista esté delante de otros elementos con menor z-index */
  }
  
  /* Estilos para la imagen de fondo */
  .primeraParte {
    background-image: url(https://img.freepik.com/vector-gratis/gente-bailando-fondo_1048-7872.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 500px;
    padding: 10px;
    position: relative;
    z-index: 1; /* Asegura que la imagen esté detrás de la lista */
  }
  
  


/*mensaje crear evento*/
#mensaje {
    position: absolute;
    top: 65%;
    left: 70%;
    background-color:black;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-style: solid ;
    border-color: violet;
   
    
}
/*Titulo:completa tu reserva*/
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    background-color: blueviolet;
    padding-top: 40px;
   
    
}
 



hr {
    margin-top: 40px;
    border: none;
    height: 8px; 
    background-color: black; 
}



/*a partir de aqui quehora, quesala*/

#seleccionar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 70px;
  
}

select {
    padding: 12px; 
    font-size: 18px;
    margin-left: 35px;
    
}


h2{
    color:black;
    margin-left: 100px;
    padding-top: 10px;
    

}

.calendario img{
    float: left;
    width: 700px;
    margin-left: 80px;
}

.datos{
    float: left;
    width: 5px;
    margin: 40px;
    padding: 70px;
}

.datos input, .datos button {
    margin-bottom:80px; 
    display: block; 
    width: 250px;
    padding: 15px;
}









    




/*BOTONES-TECLEADO-OTRO COLOR*/

.contenedor {   /* para que exista espacio entre los botones*/
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor .boton {
    background-color: pink;
    border-radius: 10px;
    border: 2px solid purple;
    color: purple;
    padding: 0.5em 1em; 
    cursor: pointer;
    font-size: 14px; /* Ajusta el tamaño del texto */
  }
  
  
  
  
  .boton:hover{
    background-color:purple;
    color:pink;
  }
  
  /* Cambia el color cuando el botón esta marcado */
  input[type="radio"]:checked + .boton {
    background-color:rgb(255, 81, 238);
    color: blue;
    border-inline: rgb(255, 81, 238);
  }
  
  .oculto {
    display: none;
  }
  
  
  /*para pantallas pequeñas*/
  @media (min-width: 320px) {
    .contenedor {
        margin: 0 10%; 
        display: flex; 
        flex-wrap: nowrap; 
        justify-content: space-between; 
    }
    
    .boton {
        margin: 0; 
    }
  }
  
  
  /*para pantallas grandes*/
  @media (min-width: 1201px) {
    .contenedor {
        width: 80%; 
        margin: 0 10% 0 auto; 
    }
  }
  
  
  
  
  