*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: monospace;
}
p{
    margin: 20px;
}

body{
    background-image: linear-gradient(to bottom left, rgb(5, 9, 77), rgb(255, 81, 238));
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#IMG_badBunny{
    width: 100%;
    height: auto;
    max-width: 800px;
} 

#contenedor_concierto{
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: rgb(192, 192, 192); 
    font-size: x-large;
    color: #414141;
    flex-wrap: wrap;
}

.button{
    background-color: #5a5a5a;
    padding: 10px 20px;
    float: right;
    border-radius: 5px;
}

.button:hover{
    background-color: #868686;
}

#contenedor_concierto_texto{
position: relative;
padding: 20px;
border: 1px solid red;
}

#button_concierto{
    position: absolute;
    right: 0;
    top: 0;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 30px;
}

/* #button_reserva{
    position: absolute;
    right: 0;
    top: 0;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 30px;
} */

#aboutUs{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#contenedor_form{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;

}

#opinion{
    max-width: 550px;
}